.welcome_text{
    font-size:clamp(28px, 3vw, 3.5rem);
    font-weight: bold;
    font-family:Poppins;
}

.description{
    font-size:clamp(22px, 2vw, 2.5rem);
    font-weight:bold;
    font-family:Poppins;

}

.mini_description{
    font-size:clamp(18px, 1.8vw, 2rem);
    margin-top:10px;
    font-family:Poppins;

}

.container{
    font-family:Manrope;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:clamp(350px, 50vw, 900px);
    height:80vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:20px;
    background-color: white;
    padding:20px;
    position:relative
}

.outter_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: linear-gradient(#e66465, #9198e5);}

.google_button{
    margin-top:30px;
    border:1px solid #DFDFde;
    width:400px;
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform .2s;
}

.google_button:hover{
    cursor: pointer;
    background-color:#F2F2F2;
    transform: scale(1.05)
}

.button{
    border:1px solid #DFDFde;
    width:fit-content;
    height:40px;
    text-align: center;
    border-radius:10px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform .2s;
    position:absolute;
    top:15px;
    right:15px;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    background-color:#F2F2F2;
    transform: scale(1.05)
}

.image{
    width:300px;
    height:300px;
    object-fit: cover;
}

@media only screen and (max-width:1024px){
    .google_button{
        width:80%;
    }

    .image{
        width:200px;
        height:200px;
    }
}