.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:clamp(350px, 50vw, 900px);
    min-height:80vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:20px;
    background-color: white;
    padding:20px;
    position:relative;
}

.outter_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: linear-gradient(#e66465, #9198e5);}

.inner_container{
    /* border:1px solid red; */
    width:80%;
}
    
.backIcon{
        position: absolute;
        top:30px;
        left:30px;
        transition: transform .2s;
}
    
.backIcon:hover{
    cursor: pointer;
    transform: scale(1.2)
}

.title{
    font-weight:bold;
    font-size:clamp(22px, 1.4vw, 2.5rem);
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

@media only screen and (max-width:768px){
  .container{
    padding-top:80px;
  }
}