.outter_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: linear-gradient(#8feea3, #e097ea);
}



.container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:clamp(350px, 50vw, 900px);
    min-height:80vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius:20px;
    background-color: white;
    padding:20px;
    position: relative
}

.mini_image{
    width:50px;
    height:50px;
    border-radius: 50%;
    position: absolute;
    top:20px;
    right:20px;
}

.image{
    width:300px;
    height:300px;
    margin-top:50px;
    object-fit: contain;
}


.button{
    margin-top:50px;
    border:1px solid #DFDFde;
    width:300px;
    height:55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    background-color: rgba(122, 40, 203, 0.7);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform .2s;
}

.button:hover{
    cursor: pointer;
    background-color:rgba(122, 40, 203, 0.5);
    transform: scale(1.05)
}

.header{
        font-size:clamp(22px, 1.6vw, 2.5rem);
        font-weight:bold;  
}